<% filas.forEach(function(item){ %>

<h1><%= item.nombre %></h1>
<picture><img src="http://localhost:3000/images/anuncios/<%= item.foto %>"></picture>
<% if(item.venta){%>
<p>Se vende</p>
<% }else{ %>
<p>Se busca</p>
<% } %>
<p>Precio: <%= item.precio %> €</p>
<p>Tags: <%= item.tags %></p></br>

<% }); %>